+----+-----+-----------+----------+
| id | age | firstName | lastName |
+----+-----+-----------+----------+
|  1 |   1 | Updated   | User     |
|  2 |   0 | Updated   | User     |
|  3 |  25 |           |          |
|  4 |  25 | Timber    | Saw      |
+----+-----+-----------+----------+