#  {
#   user {
#     id
#     firstName
#     lastName
#     age
#   }
# }

# {
#   hello
# }

# {
#   incidents {
#     id
#     narratives
#   }
# }

# mutation {
#   createUser(age: 25, firstName: "Tree", lastName: "Leaves") {
#     id
#   }
# }

# mutation {
#   updateUser(id:2, age: 20, firstName: "Updated", lastName: "User") {
#     id
#   }
# }

